container {
  flex: "1";
  backgroundImage: "url('../images/bgHome.png')";
  backgroundPosition: "center";
  backgroundClip: border-"box";
  backgroundSize: "cover";
  alignItems: "center";
  justifyContent: "center";
  fontFamily: "Roboto";
  textAlign: "center";
}

title {
  fontSize: "50px",
  position: "absolute",
  top: "50%",
  width: "100%",
  color: "linearGradient(hsl(127;72;65))"
},
Button {
  boxSizing: "border-Box",
  border: "1px solid #3ED4AF",
  borderRadius: "20px",
  margin: "20px",
  font-Size: "20px",
  font-Weight: "900"
},
button1 {
  backgroundColor: "#65E674",
},
button2 {
  backgroundColor: "#3ED4AF",
}